.save-status {
    margin-left: 8px;
    font-size: 12px;
    font-weight: 500;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;

    .presentation-info {
        display: flex;
        align-items: center;
        white-space: nowrap;
        position: fixed;
        left: 5%;
        bottom: 0;
        z-index: 1;
        background-color: white;
        width: 100%;

        h1 {
            margin-right: 12px;
        }

        img {
            width: 32px;
            margin-right: 10px;
        }
    }

    .page-indicator {
        position: fixed;
        color: #1e1e1e;
        right: 4%;
        bottom: 5%;
        font-weight: 600;
        z-index: 2;
    }

    .toolbar {
        display: flex;
        align-items: center;
        position: fixed;
        bottom: 0;
        background-color: #1e1e1e;
        padding: 6px 2%;
        border-radius: 14px;
        gap: 6px;
        color: white;
        margin-bottom: 1%;
        z-index: 1;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        user-select: none;

        .code {
            display: flex;
            align-items: center;
            gap: 12px;

            .code-item {
                user-select: text;
            }

            .code-copy {
                display: flex;
                align-items: center;
                margin-right: 10px;
                cursor: pointer;
            }
        }

        .disabled {
            opacity: 0.32;
            cursor: default;
        }

        .toolbar-button {
            cursor: pointer;
            /* background-color: #888; */
            display: flex;
            align-items: center;
            padding: 10px;
            border-radius: 50px;
        }
    }

    .text-container {
        width: 100%;
    }

    .section-name {
        width: 88%;
        font-family: 'IBM Plex Serif Bold';
        font-size: 32px;
        padding: 3% 6%;
        border: none;
        color: var(--black-color);
        border: none;
        outline: none;
    }

    .section-perfect-presentation {
        width: 88%;
        padding: 0 6% 12% 6%;
        min-height: 77vh;
        position: relative;
        border: none;
        outline: none;
    }

    .section-perfect-presentation:empty:before,
    .section-perfect-presentation[data-empty="true"]:before {
        content: attr(data-placeholder);
        color: #888;
        font-style: italic;
        position: absolute;
        pointer-events: none;
        opacity: 0.7;
    }
}

.edit-control {
    display: none;
}

@media (max-width: 768px) {
    body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        margin: 0;
        padding: 0;
    }

    .presentation {
        .toolbar {
            margin: 0;
            border-radius: 0;
            width: 100%;
            justify-content: center;
            padding: 2%;

            .reshide {
                display: none;
            }
        }

        .section-name {
            padding: 26% 6.5% 8% 6.5%;
            width: 84%;
        }

        .presentation-info {
            display: none;
        }

        .section-perfect-presentation {
            padding-bottom: 32%;
        }

        .page-indicator {
            position: fixed;
            bottom: 10%;
            background-color: rgba(211, 211, 211, 0.096);
            backdrop-filter: blur(100px);
            padding: 3% 4%;
            border-radius: 12px;
            font-family: "Inconsolata";
            font-weight: 800;
        }

        .presentation-info {
            position: fixed;
            display: flex;
            background-color: white;
            border-bottom: 1px solid #f0f0f0;
            padding: 0 6%;
            width: 88%;
            top: 0;
            left: 0;
            height: fit-content;
            font-size: 12px;
            line-height: 24px;

            img {
                width: 20px;
            }

            p {
                padding-top: 2px;
            }
        }

        .edit-control {
            display: flex;
            position: fixed;
            color: #1e1e1e;
            left: 4%;
            font-weight: 600;
            gap: 16px;
            z-index: 2;
            position: fixed;
            bottom: 10%;
            backdrop-filter: blur(100px);
            padding: 3% 6%;
        }
    }
}